@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   /* background-image: linear-gradient(to left,#8a5fcb, #6347d9); */
   background-image: linear-gradient(
  135deg,
  #4a2fb9,
  #2e2259,
  #4a2fb9
);
}
